<div layout="row" layout-align="center" >
  <div flex-xs="100" flex="80" class="md-whiteframe-2dp card">
  <form name="createSessions">
   <md-content layout-padding="">
    <div>
      <form name="uploadCatalogue">
        <h1>Upload Catalogue</h1>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs="">
            <label>Product Name</label>
            <input ng-model="train.name">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Price</label>
            <input name="postalCode" ng-model="train.price" placeholder="$ 1" required="true">
            </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Cuisene</label>
          <input ng-model="train.cuisene">
        </md-input-container>
        <div layout-gt-sm="row">

        </div>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="train.description" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>
        <md-button class="md-raised md-primary">Submit</md-button>
    </form>
</div>
</md-content>
</div>
