$font-stack:    Roboto, sans-serif;
$primary-colour: #f50057;
$border-colour:rgba(255, 255, 255, 0.8);

body {
  background: url("../images/hero_img.JPG") no-repeat center center fixed;
  background-size: cover;
  font: 100% $font-stack;
  color: $primary-colour;
}

.zooop__header{
  border: solid 2px $border-colour;
}

.zooop_title{
  text-align: center;
  font-size: 75px;
}

.zooop_card_image{
  img{
    width: 100%;
  }
}

.zooop_sign_up_btn{
  position: relative;
  left: 35%;
  margin-top: 80%;
}
