<!DOCTYPE html>
<html ng-app="zooopApp">
  <head>
    <meta charset="utf-8">
    <%# This is seriously important%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=currentUser.name%></title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./stylesheets/dashboard-styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body layout="column">
    <app></app>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/@angular/router@0.2.0/angular1/angular_1_router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>

    <script src="./scripts/build.js" charset="utf-8"></script>
  </body>
</html>
